<div class="container" style="background-color:#f7f7f7;">   
  <div class="row"  >
       
         <div class="col-5 col-lg-2 m-3 mt-5" id="menuAccueil">             
              <a  class="nav-link active" href ="boucledoreilles" style="color:#FFFFFF;">Boucles d'oreilles</a>
              <a  class="nav-link active" href ="collier"  style="color:#FFFFFF;;"> Collier</a>
              <a  class="nav-link active" href ="bague" style="color:#FFFFFF;;">Bague </a>
              <a  class="nav-link active" href ="bracelet" style="color:#FFFFFF;;"> Bracelet</a>
              <a  class="nav-link active" href ="contactnous" style="color:#FFd700;"> Contactez nous</a>                
         </div>         
    
          <div class="col-6 col-lg-9 mt-5">
         <div class="row g-4 g-lg-5 " style="font-size:14px;">
         <tbody>      

                  {% for produit in produits %} 

                    {% if (produit.categorie.id == 6 ) %}

                      {% if (produit.quantite > 0) %}

                    <div class="col-12 col-md-6 col-lg-4">
                       <div class="card">   
                          <img src="{{ asset('uploads/images/produits/' ~ produit.image) }}">    
                          <div class="card-body">
                            <h5 class="card-title" id="prixproduit" >{{ produit.prix }} €</h5>
                            <h6 class="card-title" style="color:green;">{% if (produit.quantite >= 2 ) %} {{produit.quantite}} pièces Disponible {% else %} {{produit.quantite}} pièce Disponible {% endif %} </h6>
                            <h6 class="card-title">{{ produit.nomProduit }}</h6>
                            <p class="card-text"></p>
                            
                            <a href="{{ path('detailsproduit', {'id': produit.id}) }}" class="btn btn-primary" style="font-size:15px;">Découvrir ></a>
                          </div>
                       </div>
                    </div> 

                     {% endif %}                         
                
               {% endif %} 

             {% endfor %} 

                              
        
            
        </div>                
         </tbody>        
                               
        </div>

    </div>      
            
    
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>