<div class="container">

<div class="row" style="background-color:black;" >
<div class="col-6 col-lg-5"><img src="img/mon logo/monlogo.jpg"></div>
<div class="col-3 col-lg-5 mt-4" style="color:white">Copyright ©</div>
<div class="col-3 col-lg-2 mt-4"> <a href="mentionlegale" style="color:white" id="a">Mentions Légales </a></div>



</div>

<div>