

<nav class="navbar navbar-expand-lg navbar-dark " id="navbar" >
  <div class="container-fluid">
    <a class="navbar-brand"  href="home"><img id="logo" src="img/mon logo/monlogo.jpg" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item" id="accueil">
         
          <a class="nav-link active" aria-current="page" href="home">Accueil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Faux Bijoux
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="boucledoreilles">Boucles d'oreilles</a></li>
            <li><a class="dropdown-item" href="collier">Collier</a></li>
            <li><a class="dropdown-item" href="bague">Bague</a></li>
            <li><a class="dropdown-item" href="bracelet">Bracelet</a></li>
            <li><a class="dropdown-item" href="contactnous">Contactez-nous</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="actualite">Actualité</a>
        </li>
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item">
          <a class="nav-link active" href="admin">Admin</a>
        </li>
       {% endif %}
        

        <li class="nav-item" id="panier">
          <a class="nav-link active px-3" href="Panier">Mon panier<img  id="monpanier" src="img/panier.jpg"></a>
        </li>
        {% if app.user %}
        <li class="nav-item dropdown">
          <a id="connexion" class="nav-link active" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{app.user.nom }} {{ app.user.prenom}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Mon compte</a></li>
            <li><a class="dropdown-item" href="{{ path('app_logout') }}" >Déconnexion</a></li>
          </ul>
        </li>
       {% else %}
        <li class="nav-item" >
          <a class="nav-link active my-2 my-lg-0" id="connexion" href="login.html.twig" >Connexion</a>
        </li>
        {% endif %}  
      </ul>
    </div>
  </div>
</nav>

