<div class="container" >
<div class="row" style ="background-color:rgb(233, 230, 230);">     
<div class="col-12 col-lg-4"></div>
<div class="col-12 col-lg-4 mt-2 mb-2" >
<form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
</form>  
</div>
</div>
</div>

