  <div class="row">
<div class="col-3"></div>
<div class="col-6">
<div class="row mt-5 mb-5" style="background-color:#c2c2c0;">
<div class="mb-5" >
  {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class="text-center">Inscription</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.sexe) }}
        {{ form_row(registrationForm.numero_telephone) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-success">Enregistrer</button>
    {{ form_end(registrationForm) }}

    </div>
</div>
</div>
<div class="col-3"></div>
</div>
</div>