<div class="container">
<div class="row">
<div class="col-3"></div>
<div class="col-6">
<div class="row mt-5 mb-5" style="background-color:#c2c2c0;">
<form method="post" class="mb-5" >
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    
    <h1 class="h3 mb-3 font-weight-normal" style="text-align:center;">Connectez-vous svp !</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>
    <h6 class="text-end" class="text-italic"><a href="register"> Inscrivez-vous </a><h6>
    
     
</form>
</div>
</div>
<div class="col-3"></div>
</div>
</div>