{% extends 'base.html.twig' %}

{% block title %}Hello MentionlegaleController!{% endblock %}
{% block javascripts %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <script src="js/from-validation.js"></script>
    {% endblock %}
{% block stylesheets %}
{{ parent() }}
        <link href="feuilledestyle.css" rel="stylesheet" media="all" type="text/css"> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        
{% endblock %}

{% block body %}

<div class="text-center mt-2 mb-2" style="color:red; font-size:20px;" >
            Un article offerte dès 100 euro d'achat !
      </div>
    
        <header class="container" >
            
               {% include 'toutslespages/EntetesSite/navbar.html.twig' %}
               {% include 'toutslespages/EntetesSite/rechercher.html.twig' %}      

        </header>    
        <main class="container">         
            
             {% include 'toutslespages/utilisateur/mentionlegale.html.twig' %}
        
         </div> 
        </main>     
        
        <footer class="container">       
            {% include 'toutslespages/EntetesSite/footer.html.twig' %}
        </footer>
  
    <script>
    
    $('#offres').animate({heigth: '300px',opacity: '0.5'}, 500);
           // .animate({width: '300px',opacity: '0.5'}, 500);
    
    </script>
   
    

{% endblock %}

