#navbar{

   
    background-color: black;

}

#monpanier{
    width: 30px;
    height: auto;
}
/*.navbar-nav > li{
    padding-left:38px;
    padding-right:38px;
  }*/
#connexion
{
    color:#FFD700;
    padding-left:10px;  

}
#seconnecter{

    padding-left:300px;  

}

#mentionLegHaut {
    font-style: italic;
    text-align: justify;
  }
  

#panier
{    
    padding-left:190px;  
}
#mntotal
{    
    padding-left:50px;  
}
#validerpanier
{    
    padding-left:50px;  
}
#accueil
{    
    padding-left:70px;  
}
.imageproduit{

   

}
#prixproduit{
color:red;

}

#mentionlegale{

    
}
#footer{

    width: 50%;
    height: auto;

}
#a{
    text-decoration: none;
}

#copy{
}
   
#mentionlegale{
   
}


#rechercher{

padding-left:300px;
padding-right:300px;
}

#header{
    
}

#menuAccueil{
    
    background-color:#757373;
    
    
    
}
a{
    color: whites;
}
#logo{
    width:9em;
    height: auto;
}
