@import "~bootstrap/scss/bootstrap";
#navbar{

   
    background-color: black;

}

#monpanier{
    width: 30px;
    height: auto;
}
#connexion
{
    color:#FFD700;
}

#rechercher{
text-decoration: center;
}

#header{
    
}

.menuMain{

    background-color:rgb(94, 11, 11) ;
    
    
}
a{
    color: whites;
}
#logo{
    width:9em;
    height: auto;
}
