<div class="container" style="background-color:#f7f7f7;">   
  <div class="row"  >
       
         <div class="col-5 col-lg-2 m-3 mt-5" id="menuAccueil">             
              <a  class="nav-link active" href ="boucledoreilles" style="color:#FFFFFF;">Boucles d'oreilles</a>
              <a  class="nav-link active" href ="collier"  style="color:#FFFFFF;;"> Collier</a>
              <a  class="nav-link active" href ="bague" style="color:#FFFFFF;;">Bague </a>
              <a  class="nav-link active" href ="bracelet" style="color:#FFFFFF;;"> Bracelet</a>
              <a  class="nav-link active" href ="contactnous" style="color:#FFd700;"> Contactez nous</a>                
         </div>         
    
         <div class="col-6 col-lg-4 mt-5">

           </div>

</div>      
            
    
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>





