
<div class="container" style="background-color:#f7f7f7;">   
         <div class="row">
       
           <div class="col-6 col-lg-2 m-2 mt-5" id="menuAccueil">             
              <a  class="nav-link active" href ="boucledoreilles" style="color:#FFFFFF;">Boucles d'oreilles</a>
              <a  class="nav-link active" href ="collier"  style="color:#FFFFFF;;"> Collier</a>
              <a  class="nav-link active" href ="bague" style="color:#FFFFFF;;">Bague </a>
              <a  class="nav-link active" href ="bracelet" style="color:#FFFFFF;;"> Bracelet</a>
              <a  class="nav-link active" href ="contactnous" style="color:#FFd700;"> Contactez nous</a>                
           </div>

          <div class="col-12 col-lg-9 m-2 mt-5">
          
             <h5 class="row">Mon panier:</h5>

             <div class="row"> 
                  <div class="col-12 col-lg-8 m-1 mt-1" style="background-color:white;">

                      <div class="row" style="background-color:#c7c7c6;">   
                        <h6 class="col-3"> Produit </h6>
                        <h6 class="col-2"> Image </h6>
                        <h6 class="col-2"> Prix </h6>
                        <h6 class="col-2"> Quantité </h6>
                        <h6 class="col-1"> Total </h6>
                        <h6 class="col-2"> Action </h6>

                      </div>

                    {% for element in dataPanier %}
                      <div class="row">
                                  
                        <div class="col-3">{{ element.produit.nomProduit }} </div>
                        <div class="col-2"><img src="{{ asset('uploads/images/produits/' ~ element.produit.image) }}" style="width:50px; height:auto;"> </div>
                        <h6 class="col-2"> {{ element.produit.prix }}€</h6>
                        <h6 class="col-2"> {{ element.quantite }}</h6> 
                                              
                        <h6 class="col-1"> {{ element.quantite * element.produit.prix }}€</h6>
                        
                        <h6 class="2">
                          
                            <a href ="{{path("cart_add", {id:element.produit.id})}}" class="btn btn-success"><i class="bi bi-cart-plus"></i></a>
                            <a href ="{{path("cart_remove", {id:element.produit.id})}}" class="btn btn-warning"><i class="bi bi-cart-dash"></i></a>
                            <a href ="{{path("cart_delete", {id:element.produit.id})}}" class="btn btn-danger"><i class="bi bi-cart-x"></i></a>
                          
                        </h6>

                        
                      </div>          
                  
                    {% else %}
                      <div class="col-12 col-lg-8 m-1 mt-1" style="background-color:white;">
                      <h5 colspan="5" class="text-center">Votre panier est vide </h5>
                      </div>
                    {% endfor %}
                       <div class="row" class="text-end">
                        <h6 class="col-12 mt-4 "  id="mntotal">total: {{total}} € <a href ="{{path("cart_delete_all")}}" class="btn btn-danger"><i class="bi bi-cart-x"></i></a></h6>
                        
                        </div>     
                  </div>                  
          
                  <div class="col-12 col-lg-3 m-3 mt-1" style="background-color:white;">          
                        <div class="row">
                           <h6 class="col-12 mt-4 "  id="mntotal"> Total à payer:<h6 style="color:red;" > {{total}} €</h6></h6>
                           <h6 class="col-12 mt-3" id="validerpanier"><a href="validermonpanier" class="btn btn-success"  style="font-size:18px;">Valider mon panier </a></h6>  
                        </div>
                  </div>

              </div>



          </div>


         
  </div>
</div>


    