<div class="container" style="background-color:#f7f7f7;">   
  <div class="row"  >
       
         <div class="col-5 col-lg-2 m-3 mt-5" id="menuAccueil">             
              <a  class="nav-link active" href ="boucledoreilles" style="color:#FFFFFF;">Boucles d'oreilles</a>
              <a  class="nav-link active" href ="collier"  style="color:#FFFFFF;;"> Collier</a>
              <a  class="nav-link active" href ="bague" style="color:#FFFFFF;;">Bague </a>
              <a  class="nav-link active" href ="bracelet" style="color:#FFFFFF;;"> Bracelet</a>
              <a  class="nav-link active" href ="contactnous" style="color:#FFd700;"> Contactez nous</a>                
         </div>         
    
         <div class="col-6 col-lg-4 mt-5">
            <div class="card"> 
               <img src="{{ asset('uploads/images/produits/' ~ produit.image) }}" > 
             </div>
         </div>              
            
        <div class="col-12 col-lg-5 m-4 mt-5" >


                            <h5>{{ produit.nomProduit }}</h5>
                            <div class="row"><h6 class="col-3"> Prix: </h6> <h5 class="col-9" id="prixproduit">{{ produit.prix }} €</h5></div>
                            <div class="row"><h6 class="col-3">Disponibilité:</h6><div class="col-3">{{ produit.quantite }} pièces</div><h6 class="col-6" style="color:green;">en stock</h6></div>
                            <div class="row"><h6 class="col-3">Descriptif:</h6><div class="col-9">{{ produit.description }}</div></div>
                            <div class="row mt-5"><h6 class="col-3">Quantité: </h6><div class="col-3"><select><option> 1</option><option> 2</option><option> 3</option><option> 4</option><option> 5</option></select></div>
                            <h6 class="col-6"><a href="{{ path('cart_add', {'id': produit.id}) }}" class="btn btn-warning" style="font-size:18px;">Ajouter au panier </a></h6></div>            
  
  
    </div>

</div>      
            
    
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>





