<div class="row"  >
     <div class="col-1"></div>
         <div class="col-6 col-lg-2 mt-5" id="menuAccueil" class="opacity-75%"> 
                     
              <a  class="nav-link active mt-3" href ="boucledoreilles" style="color:#FFFFFF;">Boucles d'oreilles</a>
              <a  class="nav-link active" href ="collier"  style="color:#FFFFFF;;"> Collier</a>
              <a  class="nav-link active" href ="bague.html" style="color:#FFFFFF;;">Bague </a>
              <a  class="nav-link active" href ="bracelet" style="color:#FFFFFF;;"> Bracelet</a>
              <a  class="nav-link active mb-3" href ="contactnous" style="color:#FFd700;"> Contactez nous</a>

         </div>   
               
     
    
</div>

<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
   
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
   
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
<div >   
     <div class="row mt-3">
         <div class="col-10">                  
      </div>          
</div>
   
  
  


