<div class="container" style="background-color:#f7f7f7;">   
  <div class="row"  >
       
         <div class="col-6 col-lg-2 m-3 mt-5" id="menuAccueil">             
              <a  class="nav-link active" href ="boucledoreilles" style="color:#FFFFFF;">Boucles d'oreilles</a>
              <a  class="nav-link active" href ="collier"  style="color:#FFFFFF;;"> Collier</a>
              <a  class="nav-link active" href ="bague" style="color:#FFFFFF;;">Bague </a>
              <a  class="nav-link active" href ="bracelet" style="color:#FFFFFF;;"> Bracelet</a>
              <a  class="nav-link active" href ="contactnous" style="color:#FFd700;"> Contactez nous</a>                
         </div>

          <div class="col-12 col-lg-5 m-3 mt-5" style="background-color:white";>
          
          <h5 class="row">Mon panier:</h5>

          <div class="row" style="background-color:#c7c7c6;">    
          <h6 class="col-2"> Produit </h6>
          <h6 class="col-6">  </h6>
          <h6 class="col-2"> Quantité </h6>
          <h6 class="col-2"> Prix </h6>       
          </div>

          <div class="row">    
          <div class="col-2"><img src="{{ asset('uploads/images/produits/' ~ produit.image) }}"> </div>
          <div class="col-6">{{ produit.nomProduit }} </div>
          <h6 class="col-2"> {{ produit.quantite }} </h6>
          <h6 class="col-2"> {{ produit.prix }}</h6>       
          </div>  

         </div>

         <div class="col-12 col-lg-3 m-3 mt-5" style="background-color:white";>
          
          <h5 class="row"></h5>
          <h6 class="col-12 mt-4 " style="color:red;" id="mntotal"> Total à payer: </h6>  
          <h6 class="col-12 mt-3" id="validerpanier"><a href="validermonpanier" class="btn btn-success"  style="font-size:18px;">Valider mon panier </a></h6>  
         
        
          
         </div>


  </div>
</div>